@font-face {
  font-family: "Firasans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/firasans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Firasans-bold";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/firasans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT-Sans-italic";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-Italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT-Sans-bold";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/ptans-bold.woff2") format("woff2");
  font-display: swap;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0 auto;
  min-width: 1400px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  list-style-type: none;
}

.main-header {
  margin: 0 auto;
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  display: block;
}

.main-navigation {
  display: block;
  /*display: flex;
  flex-direction: column;*/
  margin: 0 auto;
}

.main-navigation-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 700px 700px;
  grid-template-rows: 44px;
  grid-auto-flow: row;
  align-items: center;
  justify-items: end;
}

.navigation-adress-tel-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.header-text {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans-italic";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #EE3643;
  margin-right: auto;
  margin-left: 117.5px;
  margin-top: 0;
}

.about-us-adress {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  color: #32425C;
  margin-right: 35px;
  margin-top: -3px;
}

.header-tel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.tel-mask {
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  mask-image: url("../images/phone.svg");
  -webkit-mask-image: url("../images/phone.svg");
  background-color: #293449;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.tel-link {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #293449;
  margin-right: 0;
  text-decoration: none;
  margin-right: 118px;
  margin-top: -2px;
}

.user-navigation-wrap {
  margin: 0 auto;
  background-color: #293449;
}

.user-navigation-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #293449;
  padding-left: 115px;
}

.logo-header {
  margin-top: -5px;
}

.search-li {
  flex-grow: 1;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.search-mask {
  width: 20px;
  height: 20px;
  left: 0;
  top: 0;
  mask-image: url("../images/search.svg");
  -webkit-mask-image: url("../images/search.svg");
  background-color: #293449;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.popup-login {
  display: none;
}

.user-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: transparent;
  border: none;
}

.user-login-mask {
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  mask-image: url("../images/login.svg");
  -webkit-mask-image: url("../images/login.svg");
  background-color: #ffffff;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.login-mask-text {
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #F1F5F7;
  background-color: transparent;
}

.second-navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  background-color: #3D546F;
}

.main-menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  gap: 45px;
  display: flex;
  flex-direction: row;
}

.user-buttons {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.navigation-link {
  text-decoration: none;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.container {
  flex-grow: 1;
}

.cards-and-slider {
  margin: 0 auto;
  margin-top: 52px;
  width: 1170px;
  display: grid;
  grid-template-columns: 370px 370px 370px;
  grid-template-rows: 180px 180px 180px;
  gap: 30px;
}

.cards-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  padding-left: 25px;
}

.card-material {
  background-color: #FFBF47;
}

.cards-title {
  text-transform: uppercase;
  text-decoration: none;
  color:#ffffff;
  margin: 0;
  padding: 0;
  font-family: "PT-Sans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 56px;
}

.cards-text {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color:#ffffff;
  margin: 0;
  padding: 0;
  font-family: "PT-Sans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  border: 1px solid #ffffff;
  padding-right: 5px;
}

.arrow-mask {
  padding: 12px 6px;
  width: 16px;
  height: 16px;
  mask-image: url("../images/arrow-right.svg");
  -webkit-mask-image: url("../images/arrow-right.svg");
  background-color: #FFFFFF;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.cards-img {
  align-self: flex-end;
  margin-top: 24px;
  margin-right: 17px;
}









.services {
  background-color: #F4F7F9;
}

.services-wrap {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-title {
  margin: 0;
  padding: 0;
  font-family: "Firasans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  color: #293449;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.services-text {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  color: #293449;
  max-width: 560px;
  margin-bottom: 64px;
  margin-left: 17px;
}

.index-services {
  display: grid;
  grid-template-columns: 370px 370px 370px;
  gap: 30px;
  margin-bottom: 52px;
}

.service-item {
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  padding-top: 24px;
  padding-left: 31px;
  padding-right: 35px;
  padding-bottom: 20px;
  min-height: 338px;
}

.service-mask {
  display: flex;
  width: 90px;
  height: 90px;
  background-color: #CA2C37;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  margin-bottom: 50px;
}

.delivery-mask {
  mask-image: url("../images/service-delivery.svg");
  -webkit-mask-image: url("../images/service-delivery.svg");
}

.garanty-mask {
  mask-image: url("../images/service-garanty.svg");
  -webkit-mask-image: url("../images/service-garanty.svg");
  margin-top: -1px;
}

.credit-mask {
  mask-image: url("../images/service-credit.svg");
  -webkit-mask-image: url("../images/service-credit.svg");
  margin-top: -1px;
}

.service-title {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  line-height: 97%;
  color: #32425C;
  margin-bottom: 24px;
}

.service-text {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  color: #000000;
  max-width: 300px;
}

.text-garanty {
  margin-left: 5px;
}

.about-us {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 42px;
  gap: 150px;
  margin-top: 56px;
}

.about-company {
  max-width: 520px;
  margin-left: 1.5px;
}

.company-title {
  margin: 0;
  padding: 0;
  font-family: "Firasans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  line-height: 97%;
  display: flex;
  color: #293449;
  margin-bottom: 26px;
  text-transform: uppercase;
}

.company-text {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  color: #293449;
  margin-bottom: 31px;
}

.text-techno-first {
  margin-bottom: 25px;
}

.text-techno {
  margin-bottom: 63px;
}

.btn-red {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /*display: flex;*/
  color: #FFFFFF;
  background-color: #EE3643;
  padding: 14px 42px 13px 45px;
  margin-top: 53px;
  letter-spacing: 2px;
}

.main-footer {
  background-color: #32425C;
}

.page-footer-wrapper {
  background-color: #32425C;
  width: 1170px;
  margin: 0 auto;
}

.about-us-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 33px;
}

.footer-logo {
  margin-bottom: 21px;
}

.footer-adress {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  color: #F3F7F9;
  margin-top: 14px;
  margin-left: 0;
}

.tel-link-footer {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  color: #F3F7F9;
  text-decoration: none;
  margin-top: 1px;
  margin-bottom: 21px;
  margin-left: 0.5px;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.btn-social {
  display: block;
  width: 36px;
  height: 36px;
  margin-right: 5px;
  outline: none;
}

.btn-social:hover {
  opacity: 0.3;
}

.btn-social:focus {
  opacity: 0.7;
}

.btn-social:active {
  opacity: 0.5;
}

.button-pin {
  cursor: pointer;
  background-image: url("../images/pin.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-vk {
  cursor: pointer;
  background-image: url("../images/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-vsco {
  cursor: pointer;
  background-image: url("../images/vsco.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-right {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.feedback-block {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.feedback {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 1px;
}

.mail-to {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFD180;
  text-decoration: none;
  margin-bottom: 19px;
}

.newsletter-block{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.newsletter-form {
  display: flex;
}

.newsletter-text {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 2px;
}

.newsletter-field {
  border: 1px solid #63A63E;
  border-radius: 2px;
  margin: 0;
  padding: 11px 16px 11px;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 187px;
  height: 16px;
}

.newsletter-button {
  display: flex;
  background-color: #63A63E;
  border: none;
  border-radius: 2px;
}

.newsletter-mask {
  padding: 10px;
  width: 18px;
  height: 18px;
  padding-right: 0px;
  padding-left: 9px;
  mask-image: url("../images/basket.svg");
  -webkit-mask-image: url("../images/basket.svg");
  background-color: #FFFFFF;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.page-footer-wrapper-down {
  background-color: #293449;
  margin: 0 auto;
  padding-top: 21px;
  padding-bottom: 21px;
}

.about-developer-footer {
  width: 1170px;
  margin: 0 auto;
  background-color: #293449;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-about-company {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.footer-developer {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.footer-academy {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFD180;
  text-decoration: none;
}
