@font-face {
  font-family: "Firasans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/firasans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Firasans-bold";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/firasans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT-Sans-italic";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-Italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT-Sans-bold";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/ptans-bold.woff2") format("woff2");
  font-display: swap;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0 auto;
  min-width: 1400px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'PT Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  list-style-type: none;
}

.main-header {
  /*margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  display: block;
  /*background-color: #32425C;*/
}

.main-navigation {
  display: block;
  /*display: flex;
  flex-direction: column;*/
  margin: 0 auto;
  width: 1170px;
}

.container {
  margin: 0 auto;
  width: 1170px;
}

.header-wrap {
  margin: 0 auto;
  width: 1170px;
}

.header-wrap-third {
  /*margin: 0 auto;
  width: 1170px;*/
  background-color: #3D546F;
}

.main-navigation-list {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: 661px 700px;
  grid-template-rows: 44px;
  grid-auto-flow: row;
  align-items: center;
}

.navigation-adress-tel-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.header-text {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans-italic";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  color: #EE3643;
  margin-left: 2px;
  margin-right: auto;
  margin-top: 0;
}

.about-us-adress {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  color: #32425C;
  margin-right: 35px;
  margin-top: -3px;
}

.header-tel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.tel-mask {
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  mask-image: url("../images/phone.svg");
  -webkit-mask-image: url("../images/phone.svg");
  background-color: #293449;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.tel-link {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #293449;
  margin-right: 0;
  text-decoration: none;
  margin-right: 118px;
  margin-top: -2px;
}

.user-navigation-wrap {
  margin: 0 auto;
  background-color: #293449;
}

.user-navigation-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: #293449;
  height: 100%;
}

.logo-header {
  margin-bottom: -12px;
}

.logo-header:hover {
  opacity: 0.6;
}

.logo-header:active {
  opacity: 0.3;
}

.search-li {
  flex-grow: 1;
  display: flex;
}

.search-form {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.search-label {
  background-color: transparent;
  border: none;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-left: 51.5px;
}

.search-form:focus-within .search-form{
  background-color: #ffffff;
  outline: none;
  color: #293449;
}

.search-form:focus-within .field-search{
  outline: none;
}

.search-form:focus {
  background-color: #ffffff;
}

.search-li:focus-within .search-form {
  background-color: #ffffff;
}

.search-li:focus-within .field-search {
  color: #293449;
  margin-left: 51.5px;
}

.search-li:focus-within .field-search::placeholder {
  color: #C5C5C5;
}

.search-li:focus-within .search-mask {
  background-color: #405069;
  opacity: 1;
}

.search-li:focus-within .search-label {
  display: none;
}

.search-mask {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 12px;
  left: 1px;
  padding-left: 41px;
  mask-image: url("../images/search.svg");
  -webkit-mask-image: url("../images/search.svg");
  background-color: #DADADA;
  opacity: 0.3;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  margin-right: 51.5px;
}

.field-search {
  background-color: transparent;
  border: none;
  flex-grow: 1;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  /*margin-left: 51.5px;*/
}

.field-search::placeholder {
  color: transparent;
}

.popup-login {
  display: none;
}

.popup-logout {
  display: none;
}

.user-item-login {
  display: flex; /**/
  margin-right: -5px;
  position: relative;
}

.user-item-logout {
  display: none; /**/
  margin-right: -3px;
  margin-top: -2px;
}

.user-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.user-logout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.user-login-mask {
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  mask-image: url("../images/login.svg");
  -webkit-mask-image: url("../images/login.svg");
  background-color: #ffffff;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.login-mask-text {
  font-family: "PT-Sans-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #F1F5F7;
  background-color: transparent;
}

.user-mask {
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  mask-image: url("../images/user.svg");
  -webkit-mask-image: url("../images/user.svg");
  background-color: #ffffff;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  margin-right: 8px;
}

.logout-mask-text {
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #F1F5F7;
  background-color: transparent;
  margin-right: 18px;
}

.user-logout-mask {
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  mask-image: url("../images/logout.svg");
  -webkit-mask-image: url("../images/logout.svg");
  background-color: #ffffff;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.second-navigation-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  background-color: #3D546F;
}

.main-menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  gap: 8px;
  display: flex;
  flex-direction: row;
  /*padding-top: 19px;
  padding-bottom: 27px;*/
  margin-left: -15px;
}

.main-menu-item {
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 19px;
  padding-bottom: 27px;
}

.user-buttons {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  margin-right: 3px;
}

.btn-fav {
  display: flex;
  background-color: transparent;
  margin-top: 21px;
  border: none;
  margin-right: 11px;
  cursor: pointer;
}

.user-fav-mask {
  width: 18px;
  height: 18px;
  left: 0;
  top: 0;
  mask-image: url("../images/favorit.svg");
  -webkit-mask-image: url("../images/favorit.svg");
  background-color: #ffffff;
  opacity: 0.6;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.user-fav-number {
  font-family: "PT-Sans-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: none;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  margin-right: 0;
  margin-left: 6px;
}

.btn-fav:hover .user-fav-mask {
  opacity: 1;
}

.btn-fav:active .user-fav-mask {
  opacity: 0.3;
}

.btn-basket {
  display: flex;
  background-color: transparent;
  margin-top: 21px;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}

.user-basket-mask {
  width: 18px;
  height: 18px;
  left: 0;
  top: 0;
  mask-image: url("../images/basket.svg");
  -webkit-mask-image: url("../images/basket.svg");
  background-color: #ffffff;
  opacity: 0.6;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.user-basket-number {
  font-family: "PT-Sans-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: none;
  align-items: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  margin-right: 3px;
  margin-left: 6px;
}

.btn-basket:hover .user-basket-mask {
  opacity: 1;
}

.btn-basket:active .user-basket-mask {
  opacity: 0.3;
}

.btn-green {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "PT-Sans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /*display: flex;*/
  color: #FFFFFF;
  background-color: #63A63E;
  padding: 12px 11px 12px 13px;
  letter-spacing: 2px;
  border-radius: 4px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.btn-green:hover {
  background-color: #5FBB2D;
}

.btn-green:active {
  background-color: #518534;
}

.navigation-link {
  text-decoration: none;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.main-menu-item:hover {
  background-color: #32425C;
}

.main-menu-item:hover .navigation-link{
  color: #C5C5C5;
}

.main-menu-item:active {
  background-color: #32425C;
}

.main-menu-item:active .navigation-link{
  font-family: "PT-Sans-bold";
  color: #FFFFFF;
  margin-right: -1px;
}

.cards-and-slider {
  margin: 0 auto;
  margin-top: 52px;
  width: 1170px;
  display: grid;
  grid-template-columns: 370px 370px 370px;
  grid-template-rows: 180px 180px 180px;
  grid-auto-flow: row;
  grid-auto-rows: 180px;
  gap: 29px 30px;
  margin-bottom: 49px;
}

.cards-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
  padding-left: 25px;
  position: relative;
}

.card-material {
  background-color: #FFBF47;
}

.card-tools {
  background-color: #3BBCE3;
}

.card-machinary {
  background-color: #DC91D8;
  margin-top: -1px;
}

.card-discount {
  background-color: #8ED78F;
  margin-top: -1px;
}

.card-delivery {
  background-color: #FFBF47;
  margin-top: -1px;
}

.cards-title {
  text-transform: uppercase;
  text-decoration: none;
  color:#ffffff;
  margin: 0;
  padding: 0;
  font-family: "PT-Sans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 57px;
  margin-left: 0.5px;
}

.cards-text {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color:#ffffff;
  margin: 0;
  padding: 0;
  font-family: "PT-Sans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 2px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  width: 180px;
}

.cards-text:hover {
  opacity: 0.6;
}

.cards-text:active {
  opacity: 0.3;
}

.arrow-mask {
  padding: 12px 0;
  padding-left: 2px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 16px;
  height: 16px;
  mask-image: url("../images/arrow-right.svg");
  -webkit-mask-image: url("../images/arrow-right.svg");
  background-color: #FFFFFF;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.cards-img {
  align-self: flex-end;
  margin-top: 25px;
  margin-right: 16px;
}

.link-text {
  padding: 0;
}

.new {
  position: relative;
}

.new::after{
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  right: 0;
  top: 0;
  background-image: url("../images/new.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.slider-block {
  margin: 0;
  margin-top: -2px;
  padding: 0;
  grid-area: 2 / 1 / 4 / 3;
  position: relative;
}

.slider {
  display: flex;
  width: 770px;
  height: 390px;
  background-color: #7fffd4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  display: none;
}

.slider-1 {
  background-image: url("../images/slide-1.jpg");
}

.slider-2 {
  background-image: url("../images/slider-2.jpg");
}

.active-slide {
  display: block;
}

.slide-wrap {
  display: flex;
  flex-direction: column;
  height: 390px;
  box-sizing: border-box;
  padding: 50px 180px 40px 50px;
}

.slide-title {
  margin: 0;
  padding: 0;
  font-family: "Firasans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  color: #ffffff;
  margin-bottom: 11px;
  text-transform: uppercase;
}

.slide-text {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  flex-grow: 1;
}

.btn-slider {
  margin-bottom: auto;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "PT-Sans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /*display: flex;*/
  color: #FFFFFF;
  background-color: #EE3643;
  padding: 13px 23px 14px 24px;
  letter-spacing: 2px;
  border-radius: 4px;
  align-self: self-start;
}

.btn-slider:hover {
  background-color: #CA2C37;
}

.btn-slider:active {
  background-color: #BA2732;
}

.slider-controls {
  width: 730px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 180px;
  left: 20px;
  outline: none;
}

.slider-button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: rgba(41, 52, 73, 0.6);
  border-radius: 50px;
  cursor: pointer;
}

.slider-button:hover {
  background-color: #fcfcfc;
}

.slider-button:hover path {
  fill: #2d3440;
}

.slider-button:focus {
  border: 2px solid #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
  outline: none;
}

.slider-button:focus path {
  fill: #2d3440;
}

.slider-button:active {
  border: 2px solid transparent;
  background-color: rgba(252, 252, 252, 0.5);
}

.slider-button:active path {
  fill: #2d3440;
}

.slider-button:disabled {
  border: 2px solid #fcfcfc;
  background-color: rgba(252, 252, 252, 0.3);
  opacity: 0.4;
}

.slider-button:disabled path {
  fill: #fcfcfc;
}

.slide-point-list {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  display: flex;
  gap: 8px;
  width: 40px;
  justify-content: space-between;
  position: absolute;
  top: 354px;
  left: 365px;
  outline: none;
}

.point-button {
  margin: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
}

.active-point:focus {
  outline: none;
}

.no-active-point {
  background-color: #FFD180;
  cursor: pointer;
}

.no-active-point:hover {
  opacity: 1;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #fcfcfc;
}

.no-active-point:focus {
  opacity: 1;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #2d3440;
  outline: none;
}

.no-active-point:active {
  opacity: 0.5;
  background-color: #fcfcfc;
  box-shadow: none;
  cursor: pointer;
}

.no-active-point:disabled {
  opacity: 1;
  background-color: rgba(252, 252, 252, 0.3);
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #2d3440;
}

.filter-and-perfs-wrap {
  display: flex;
}

.filter {
  width: 220px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 74px;
}

.main-theme {
  margin: 0;
  padding: 0;
  font-family: "Firasans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #293449;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.inner-header-filter {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 44px;
  gap: 16px 24px;
}

.filter-group {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style-type: none;
  border: none;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 24px;
}

.select {
  margin: 0;
  margin-left: 5px;
}

.filter-title {
  font-family: "PT-Sans-bold";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 8px;
  text-transform: uppercase;
  margin-left: -1.5px;
}

.range-background {
  width: 220px;
  height: 40px;
  border-radius: 2px;
  background-color: #F7F3EC;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
}

.range-scale {
  position: relative;
  height: 2px;
  width: 180px;
  background-color: #3D546F;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #5FBB2D;
  width: 64px;
  left: 20px;
}

.range-toggle {
  position: absolute;
  height: 20px;
  width: 20px;
  border: 2px solid #3D546F;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
  padding: 0;
  outline: none;
}

.range-toggle:hover {
  border: 2px solid #3D546F;
  background-color: #518534;
}

.range-toggle:focus {
  border: 2px solid #fcfcfc;
  background-color: #2d3440;
  /*outline: 2px solid #2d3440;*/
}

.range-toggle:active {
  border: 2px solid #3D546F;
  background-color: #5FBB2D;
}

.toggle-min {
  top: -9px;
  left: -21px;
}

.toggle-max {
  top: -10px;
  right: -6px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
}

.range-input {
  width: 95px;
  height: 40px;
  background-color: #F7F3EC;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  text-align: center;
  padding-left: 18px;
}

.minus {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.checkbox-list {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  box-sizing: border-box;
  /*padding: 8px 24px;*/
  justify-content: space-between;
  /*padding-bottom: 2px;*/
  margin-top: 9px;
  padding-left: 36px;
}

.checkbox-label {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  color: #000000;
  background-color: transparent;
  margin-bottom: 22px;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  display: block;
  cursor: pointer;
}

.checkbox-item {
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  /*padding-left: 24px;
  margin-right: 17px;*/
}

.checkbox-item:last-child {
  margin-bottom: -16px;
}

.checkbox-label::before {
  position: absolute;
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  top: -1px;
  left: -36px;
  mask-image: url("../images/unchecked.svg");
  -webkit-mask-image: url("../images/unchecked.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: #32425C;
}

.checkbox-input[type="checkbox"]:checked + .checkbox-label::before {
  mask-image: url("../images/checked.svg");
  -webkit-mask-image: url("../images/checked.svg");
}

.checkbox-label:hover::before {
  background-color: rgba(50, 66, 92, 0.6);
}

.checkbox-item:focus-within .checkbox-label::before {
  background-color: #000000;
  opacity: 0.9;
}

.checkbox-label:active::before {
  background-color: #000000;
  opacity: 0.3;
}

.checkbox-label:disabled::before {
  background-color: #000000;
  opacity: 0.4;
}

.checkbox-input:disabled ~ .checkbox-label{
  color: #000000;
  opacity: 0.4;
}


.group-power {
  margin-left: 3px;
}

.radio-list {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: transparent;
  box-sizing: border-box;
  padding: 8px 24px;
  justify-content: flex-start;
  align-items: start;
  gap: 14px;
  padding-left: 17.5px;
}

.radio-item {
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 24px;
}

.radio-label {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans", sans-serif;
  color: #000000;
  background-color: transparent;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.radio-label::before {
  position: absolute;
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  top: -2px;
  left: -36px;
  mask-image: url("../images/radio-off.svg");
  -webkit-mask-image: url("../images/radio-off.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: #3D546F;
}

.radio-input[type="radio"]:checked + .radio-label::before {
  mask-image: url("../images/radio-on.svg");
  -webkit-mask-image: url("../images/radio-on.svg");
}

.radio-label:hover::before {
  background-color: #3D546F;
}

.radio-item:focus-within .radio-label::before {
  background-color: #000000;
  opacity: 0.9;
}

.radio-item:focus {
  outline: none;
}

.radio-label:active::before {
  background-color: #000000;
  opacity: 0.3;
}

.radio-label:disabled::before {
  background-color: #000000;
  opacity: 0.4;
}

.radio-input:disabled ~ .radio-label{
  color: #000000;
  opacity: 0.4;
}

.btn-trans {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "PT-Sans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #32425C;
  background-color: transparent;
  margin-top: -5px;
  letter-spacing: 2px;
  border: 2px solid #32425C;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  min-height: 40px;
  padding-left: 3px;
  padding-top: 1px;
}

.btn-trans:hover {
  opacity: 0.6;
}

.btn-trans:active {
  opacity: 0.3;
}

.sorting-and-goods {
  margin-top: 32px;
  margin-bottom: 53px;
}

.sorting-select {
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid #3D546F;
  padding: 7px 15px;
  padding-left: 16px;
  padding-bottom: 7px;
  padding-right: 41px;
  color: #293449;
  font-family: "PT-Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  appearance: none;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 258px;
  cursor: pointer;
  outline: none;
  width: 280px;
  margin-bottom: 24px;
}

.sorting-select:hover {
  border: 1px solid #63A63E;
}

.sorting-select:focus {
  border: 1px solid #518534;
  outline: 1px solid #FFBF47;
}

.goods-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 270px);
  gap: 29px 33px;
  align-items: start;
  justify-content: center;
  box-sizing: border-box;
  margin-left: 0;
  margin-top: 7px;
  margin-bottom: 32px;
}

.goods-item {
  padding-top: 27px;
  padding-left: 27px;
  padding-right: 22px;
  width: 270px;
  min-height: 380px;
  box-sizing: border-box;
  position: relative;
}

.item-img {
  margin-bottom: 7px;
}

.item-wrap-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 180px;
  margin: 0 auto;
}

.item-title {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #293449;
  text-align: center;
  margin-left: -3px;
  margin-bottom: 14px;
}

.item-text {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #A9A9A9;
  letter-spacing: 2px;
  text-decoration: line-through;
  padding-right: 3px;
  margin-bottom: 12px;
}

.item-price {
  margin: 0;
  padding: 11px 26px 11px 28px;
  margin-left: -22px;
  font-family: "PT-Sans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #EE3643;
  letter-spacing: 2px;
  border-radius: 4px;
  position: relative;
  max-width: 139px;
  text-decoration: none;
}

.item-price::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: 5px;
  right: -13px;
  background-color: #EE3643;
  border-radius: 4px;
  transform: rotate(45deg);
}

.item-price:hover {
  background-color: #CA2C37;
}

.item-price:hover:after {
  background-color: #CA2C37;
}

.item-price:active {
  background-color: #BA2732;
}

.item-price:active:after {
  background-color: #BA2732;
}

.new-goods::after{
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  right: 0;
  top: 0;
  background-image: url("../images/new.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.item-buttons {
  display: none;
  position: absolute;
  width: 135px;
  height: 91px;
  top: 62px;
  left: 64px;
  flex-direction: column;
}

.goods-item:hover {
  box-shadow: 0px 4px 13px
  rgba(0, 0, 0, 0.25);
}

.goods-item:hover .item-buttons {
  display: flex;
}

.goods-item:hover .item-img {
  opacity: 0.1;
}

.item-buy {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "PT-Sans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  color: #FFFFFF;
  background-color: #63A63E;
  padding: 12px 11px 12px 13px;
  letter-spacing: 2px;
  border: none;
  margin-bottom: 11px;
  height: 40px;
  cursor: pointer;
}

.item-buy:hover {
  background-color: #5FBB2D;
}

.item-buy:active {
  background-color: #518534;
}

.buy-mask {
  width: 14px;
  height: 14px;
  padding-left: 20px;
  padding-top: 1px;
  mask-image: url("../images/basket-light.svg");
  -webkit-mask-image: url("../images/basket-light.svg");
  background-color: #FFFFFF;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.buy-text {
  padding-bottom: 0;
  padding-left: -3px;
}

.item-favorit {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "PT-Sans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #32425C;
  background-color: #ffffff;
  padding: 9px 11px 12px 15px;
  letter-spacing: 2px;
  border: none;
  margin-bottom: 11px;
  height: 40px;
  border: 2px solid #63A63E;
  border-radius: 2px;
  cursor: pointer;
}

.item-favorit:hover {
  border-color: #3D546F;
}

.item-favorit:active {
  border-color: #C5C5C5;
  color: #C5C5C5;
}

.pagination-container {
  display: flex;
  /*padding: 39px 70px 60px 0;
  margin-left: 70px;
  margin-right: 62px;*/
  justify-content: center;
  margin-left: 5px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-left: 9px;
  /*max-width: 60px;*/
}

.pagination-link {
  display: flex;
  box-sizing: border-box;
  border-radius: 2px;
  min-width: 50px;
  height: 45px;
  padding: 10px 20px 12px 20px;
  line-height: 16px;
  font-size: 16px;
  font-family: "PT-Sans-bold";
  font-weight: 700;
  color: #ffffff;
  background-color: #3D546F;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link:hover,
.pagination-link:focus {
  color: rgba(255, 255, 255, 0.3);
  background-color: #68a2ca;
}

.pagination-current {
  color: #3D546F;
  background-color: #ffffff;
}

.pagination-clear {
  padding: 13px 27px 12px 22px;
  color: #000000;
  background-color: #ffffff;
}

.btn-more {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /*display: flex;*/
  color: #FFFFFF;
  background-color: #EE3643;
  padding: 14px 36px 13px 39px;
  letter-spacing: 2px;
}



















.services {
  background-color: #F4F7F9;
}

.services-wrap {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-title {
  margin: 0;
  padding: 0;
  font-family: "Firasans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  color: #293449;
  margin-bottom: 30px;
  margin-top: 52px;
  text-transform: uppercase;
}

.services-text {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  color: #293449;
  max-width: 560px;
  margin-bottom: 64px;
  margin-left: 17px;
}

.index-services {
  display: grid;
  grid-template-columns: 370px 370px 370px;
  gap: 30px;
  margin-bottom: 52px;
}

.service-item {
  background-color: #FFFFFF;
  border-radius: 2px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  padding-top: 24px;
  padding-left: 31px;
  padding-right: 35px;
  padding-bottom: 20px;
  min-height: 338px;
}

.service-mask {
  display: flex;
  width: 90px;
  height: 90px;
  background-color: #CA2C37;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  margin-bottom: 50px;
}

.delivery-mask {
  mask-image: url("../images/service-delivery.svg");
  -webkit-mask-image: url("../images/service-delivery.svg");
}

.garanty-mask {
  mask-image: url("../images/service-garanty.svg");
  -webkit-mask-image: url("../images/service-garanty.svg");
  margin-top: -1px;
}

.credit-mask {
  mask-image: url("../images/service-credit.svg");
  -webkit-mask-image: url("../images/service-credit.svg");
  margin-top: -1px;
}

.service-title {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  line-height: 97%;
  color: #32425C;
  margin-bottom: 24px;
}

.service-text {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  color: #000000;
  max-width: 300px;
}

.text-garanty {
  margin-left: 5px;
}

.about-us {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 42px;
  gap: 150px;
  margin-top: 56px;
}


.about-company {
  max-width: 520px;
  margin-left: 1.5px;
}

.company-title {
  margin: 0;
  padding: 0;
  font-family: "Firasans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  line-height: 97%;
  display: flex;
  color: #293449;
  margin-bottom: 26px;
  text-transform: uppercase;
}

.company-text {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  color: #293449;
  margin-bottom: 30px;
}

.text-techno-first {
  margin-bottom: 25px;
}

.text-techno {
  margin-bottom: 63px;
}

.btn-red {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  /*display: flex;*/
  color: #FFFFFF;
  background-color: #EE3643;
  padding: 15px 42px 12px 45px;
  margin-top: 52px;
  letter-spacing: 2px;
}

.btn-red:hover {
  background-color: #CA2C37;
}

.btn-red:active {
  background-color: #BA2732;
}

.main-footer {
  background-color: #32425C;
}

.page-footer-wrapper {
  background-color: #32425C;
  width: 1170px;
  margin: 0 auto;
}

.about-us-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 33px;
}

.footer-logo {
  margin-bottom: 21px;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-adress {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  color: #F3F7F9;
  margin-top: 14px;
  margin-left: 0;
}

.tel-link-footer {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  color: #F3F7F9;
  text-decoration: none;
  margin-top: 1px;
  margin-bottom: 21px;
  margin-left: 0.5px;
}

.social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.btn-social {
  display: block;
  width: 36px;
  height: 36px;
  margin-right: 5px;
  outline: none;
}

.btn-social:hover {
  opacity: 0.3;
}

.btn-social:focus {
  opacity: 0.7;
}

.btn-social:active {
  opacity: 0.5;
}

.button-pin {
  cursor: pointer;
  background-image: url("../images/pin.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-vk {
  cursor: pointer;
  background-image: url("../images/vk.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-vsco {
  cursor: pointer;
  background-image: url("../images/vsco.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-right {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.feedback-block {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.feedback {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 1px;
}

.mail-to {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFD180;
  text-decoration: none;
  margin-bottom: 19px;
}

.mail-to:hover {
  color: #FFBF47;
}

.newsletter-block{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.newsletter-form {
  display: flex;
}

.newsletter-text {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 2px;
}

.newsletter-field {
  border: 1px solid #63A63E;
  border-radius: 2px;
  margin: 0;
  padding: 11px 16px 11px;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  width: 187px;
  height: 16px;
}

.newsletter-button {
  display: flex;
  background-color: #63A63E;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.newsletter-button:hover {
  background-color: #5FBB2D;
}

.newsletter-button:active {
  background-color: #518534;
}

.newsletter-mask {
  padding: 10px;
  width: 18px;
  height: 18px;
  padding-right: 0px;
  padding-left: 9px;
  mask-image: url("../images/basket-footer-light.svg");
  -webkit-mask-image: url("../images/basket-footer-light.svg");
  background-color: #FFFFFF;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.page-footer-wrapper-down {
  background-color: #293449;
  margin: 0 auto;
  padding-top: 21px;
  padding-bottom: 21px;
}

.about-developer-footer {
  width: 1170px;
  margin: 0 auto;
  background-color: #293449;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-about-company {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.footer-developer {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}

.footer-academy {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFD180;
  text-decoration: none;
}

.footer-academy:hover {
  color: #FFBF47;
}







.btn-soc {
  display: flex;
  width: 36px;
  height: 36px;
  margin-right: 5px;
  outline: none;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  border: none;
}

.btn-soc:hover .soc-back {
  background-color: #293449;
}

.btn-soc:focus {
  opacity: 0.7;
}

.btn-soc:active {
  opacity: 0.5;
}

.vsco-mask {
  width: 23px;
  height: 23px;
  mask-image: url("../images/vsco-icon.svg");
  -webkit-mask-image: url("../images/vsco-icon.svg");
  background-color: #ffffff;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  cursor: pointer;
  background-image: url("../images/vsco-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  z-index: 2;
}

.soc-back {
  position: absolute;
  left: -2px;
  width: 36px;
  height: 36px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}










.user-item-login {
  position: relative;
}

.user-item-logout {
  position: relative;
}

.user-login:focus-within ~ .popup-login {
  display: flex;
}

.user-logout:focus-within ~ .popup-logout {
  display: flex;
}

.user-login:focus-within .user-login-mask {
  background-color: #e7e7e7;
}

.user-logout:focus-within .user-logout-mask {
  background-color: #e7e7e7;
}

.user-item-login:focus-within > .popup-login {
  display: flex;
}

.user-item-logout:focus-within > .popup-logout {
  display: flex;
}


.popup-login {
  width: 360px;
  min-height: 330px;
  position: absolute;
  border-radius: 2px;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  padding-top: 19px;
  padding-left: 26px;
  padding-right: 19px;
  padding-bottom: 35px;
  box-sizing: border-box;
  flex-direction: column;
  z-index: 1;
  right: 8px;
  top: 13px;
  /*display: flex; /**/
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.popup-logout {
  width: 360px;
  min-height: 273px;
  position: absolute;
  border-radius: 2px;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  padding-top: 19px;
  padding-left: 26px;
  padding-right: 19px;
  padding-bottom: 35px;
  box-sizing: border-box;
  flex-direction: column;
  z-index: 1;
  right: 6px;
  top: 14px;
  /*display: flex; /**/
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.popup-login-form {
  display: flex;
  flex-wrap: wrap;
}



.popup-login-helper .password-helper,
.popup-login-helper .registration-helper {
  text-decoration: none;
  /*margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #2d3440;*/
}

.password-helper:hover,
.registration-helper:hover {
  opacity: 60%;
}

.password-helper:active,
.registration-helper:active {
  opacity: 60%;
}

.checkbox-list-row {
  display: flex;
  list-style-type: none;
  margin-bottom: 7px;
}

.title-and-close {
  display: flex;
  justify-content: space-between;
}

.popup-title-lk {
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-left: 5.5px;
  font-family: "PT-Sans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 45px;
}

.popup-close-button {
  display: flex;
  width: 20px;
  height: 20px;
  mask-image: url("../images/close.svg");
  -webkit-mask-image: url("../images/close.svg");
  background-color: #C4C4C4;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.login-input {
  width: 300px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #C5C5C5;
  margin-bottom: 7px;
  margin-left: 5px;
  box-sizing: border-box;
  padding-left: 13.5px;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.login-input::placeholder {
  color: #000000;
}

.password-input {
  width: 300px;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #C5C5C5;
  margin-bottom: 7px;
  margin-left: 5px;
  box-sizing: border-box;
  padding-left: 13.5px;
  font-family: "PT-Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 13px;
}

.password-input::placeholder {
  color: #000000;
}

.checkbox-item-lk {
  position: relative;
}

.checkbox-memory-label {
  margin: 0;
  padding: 0;
  font-family: "PT-Sans";
  color: #000000;
  background-color: transparent;
  margin-bottom: 22px;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  display: block;
  cursor: pointer;
  margin-left: 1px;
  position: relative;
  padding-left: 3px;
  margin-right: 24px;
}

.checkbox-memory-label::before {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  top: -1px;
  left: -36px;
  mask-image: url("../images/checkbox-light-off.svg");
  -webkit-mask-image: url("../images/checkbox-light-off.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: #32425C;
}

.checkbox-input[type="checkbox"]:checked + .checkbox-memory-label::before {
  mask-image: url("../images/checkbox-light-on.svg");
  -webkit-mask-image: url("../images/checkbox-light-on.svg");
}

.checkbox-memory-label:hover::before {
  background-color: rgba(50, 66, 92, 0.6);
}

.checkbox-item:focus-within .checkbox-memory-label::before {
  background-color: #000000;
  opacity: 0.9;
}

.checkbox-memory-label:active::before {
  background-color: #000000;
  opacity: 0.3;
}

.checkbox-memory-label:disabled::before {
  background-color: #000000;
  opacity: 0.4;
}

.checkbox-input:disabled ~ .checkbox-memory-label{
  color: #000000;
  opacity: 0.4;
}

.password-helper {
  font-family: "PT-Sans";
  color: #000000;
  background-color: transparent;
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  display: block;
  cursor: pointer;
  list-style-type: none;
  text-decoration: none;
}

.popup-login-helper {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
}

.btn-green-enter {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "PT-Sans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #63A63E;
  /*padding: 12px 11px 12px 13px;*/
  letter-spacing: 2px;
  border-radius: 2px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  width: 145px;
  min-height: 40px;
}

.btn-green-enter:hover {
  background-color: #5FBB2D;
}

.btn-green-enter:active {
  background-color: #518534;
}

.popup-btn-green-mask {
  padding-right: 31px;
  margin-left: -25px;
}

.item-reg {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "PT-Sans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #32425C;
  background-color: #ffffff;
  letter-spacing: 2px;
  border: none;
  margin-top: 10px;
  border: 2px solid #63A63E;
  border-radius: 2px;
  cursor: pointer;
  width: 145px;
  min-height: 40px;
  box-sizing: border-box;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2px;
}

.item-reg:hover {
  border-color: #3D546F;
}

.item-reg:active {
  border-color: #C5C5C5;
  color: #C5C5C5;
}

.item-lk {
  text-transform: uppercase;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: "PT-Sans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #3D546F;
  background-color: #ffffff;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
  margin-bottom: 23px;
}

.popup-title-lk-login {
  margin: 0;
  padding: 0;
  padding-top: 4px;
  padding-left: 5.5px;
  font-family: "PT-Sans-bold";
  font-style: bold;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-transform: uppercase;
  margin-top: -1px;
  margin-bottom: 33px;
}

.btn-logout {
  margin-top: 1px;
  margin-left: 5px;
}
